.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*margin-top: 10px;*/
}
.nav image {
    align-items: center;
    display: flex;
}
.mid-section{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.mid-section>p{
    color:  #4D4D4D;
    font-size: 16px;
}
.hero-section{
    display: flex;
    justify-content: space-evenly;
    padding-top: 90px;
}


.ellipse{
    height: 20px;
    width: 50px;
    background-color: green;
}
.base-section{
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-top: 10px;*/
}